In [1]:
import pandas as pd
import numpy as np

In [2]:
ser1 = pd.Series([2,4,6], index=['A','B','C'])

In [3]:
ser1

A    2
B    4
C    6
dtype: int64

In [4]:
ser2 = pd.Series([1,2,9,5], index=['A','B','C', 'D'])

In [5]:
ser2

A    1
B    2
C    9
D    5
dtype: int64

In [6]:
ser1 + ser2
#D NaN because ser1 doesn't hava entry D

A     3.0
B     6.0
C    15.0
D     NaN
dtype: float64

In [14]:
df1 = pd.DataFrame(np.arange(16).reshape(4,4),index=['A','B','C','D'],columns=list('VXYZ'))
df1

    V   X   Y   Z
A   0   1   2   3
B   4   5   6   7
C   8   9  10  11
D  12  13  14  15

In [18]:
df2 = pd.DataFrame(np.arange(8).reshape(2,4),index=['A','B'],columns=list('VXYZ'))
df2

   V  X  Y  Z
A  0  1  2  3
B  4  5  6  7

In [19]:
df1-df2
#when dont have value NaN

     V    X    Y    Z
A  0.0  0.0  0.0  0.0
B  0.0  0.0  0.0  0.0
C  NaN  NaN  NaN  NaN
D  NaN  NaN  NaN  NaN

In [22]:
df1.add(df2,fill_value=-1)
#using add function and fill NaN with -1

      V     X     Y     Z
A   0.0   2.0   4.0   6.0
B   8.0  10.0  12.0  14.0
C   7.0   8.0   9.0  10.0
D  11.0  12.0  13.0  14.0