In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.DataFrame({'k1':['X','X','Y','Y','Z'],
                    'k2':['a','b','a','b','a'],
                    'd1':np.random.randn(5),
                    'd2':np.random.randn(5)})
df1

  k1 k2        d1        d2
0  X  a -0.206414  0.190430
1  X  b  0.486728 -0.862036
2  Y  a -0.080502  0.889009
3  Y  b -0.470603  0.182592
4  Z  a  1.320213 -1.162119

In [3]:
gr1 = df1['d1'].groupby(df1['k2'])
gr1

In [4]:
gr1.count()

k2
a    3
b    2
Name: d1, dtype: int64

In [5]:
cities = np.array(['NY','LA','LA','NY','NY'])
month = np.array(['JAN','FEB','JAN','FEB','JAN'])

In [6]:
df1['d1'].groupby([cities,month]).mean()

LA  FEB    0.486728
    JAN   -0.080502
NY  FEB   -0.470603
    JAN    0.556900
Name: d1, dtype: float64

In [10]:
df1.groupby(['k1','k2']).mean()

             d1        d2
k1 k2
X  a  -0.206414  0.190430
   b   0.486728 -0.862036
Y  a  -0.080502  0.889009
   b  -0.470603  0.182592
Z  a   1.320213 -1.162119

In [12]:
df1.groupby(['k2']).size()

k2
a    3
b    2
dtype: int64

In [15]:
for n,g in df1.groupby(['k1']):
    print( "n: {0}".format( n ))
    print(g)

n: X
  k1 k2        d1        d2
0  X  a -0.206414  0.190430
1  X  b  0.486728 -0.862036
n: Y
  k1 k2        d1        d2
2  Y  a -0.080502  0.889009
3  Y  b -0.470603  0.182592
n: Z
  k1 k2        d1        d2
4  Z  a  1.320213 -1.162119

In [19]:
for (k1,k2), g in df1.groupby(['k1','k2']):
    print( "k1: {0},k1: {1} ".format( k1,k2 ))
    print(g,"\n")

k1: X,k1: a
  k1 k2        d1       d2
0  X  a -0.206414  0.19043

k1: X,k1: b
  k1 k2        d1        d2
1  X  b  0.486728 -0.862036

k1: Y,k1: a
  k1 k2        d1        d2
2  Y  a -0.080502  0.889009

k1: Y,k1: b
  k1 k2        d1        d2
3  Y  b -0.470603  0.182592

k1: Z,k1: a
  k1 k2        d1        d2
4  Z  a  1.320213 -1.162119

In [20]:
group_dict = dict(list(df1.groupby('k1')))

In [21]:
group_dict['X']

  k1 k2        d1        d2
0  X  a -0.206414  0.190430
1  X  b  0.486728 -0.862036

In [26]:
group_dict_axis1 =  dict(list(df1.groupby(df1.dtypes, axis=1)))
group_dict_axis1

{dtype('float64'):          d1        d2
 0 -0.206414  0.190430
 1  0.486728 -0.862036
 2 -0.080502  0.889009
 3 -0.470603  0.182592
 4  1.320213 -1.162119,
 dtype('O'):   k1 k2
 0  X  a
 1  X  b
 2  Y  a
 3  Y  b
 4  Z  a}

In [29]:
d2_grp = df1.groupby(['k1','k2'])[['d1']]
d2_grp.size()

k1  k2
X   a     1
    b     1
Y   a     1
    b     1
Z   a     1
dtype: int64

In [31]:
d2_grp.max()

             d1
k1 k2
X  a  -0.206414
   b   0.486728
Y  a  -0.080502
   b  -0.470603
Z  a   1.320213