In [26]:
import pandas as pd
import numpy as np

from numpy.random import randn

In [14]:
#create a serie
ser1 = pd.Series(np.arange(1,5,1),index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [15]:
#show index
ser1.index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [16]:
#getting a index by position
ser1.index[3]

'D'

In [20]:
#slicing index
ser1.index[:2]

Index(['A', 'B'], dtype='object')

In [37]:
#reindex

ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

#NaN for index E and F

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [38]:
#reindex with fill value
ser2 = ser1.reindex(['A','B','C','D','E','F'], fill_value=0)
ser2

A    1
B    2
C    3
D    4
E    0
F    0
dtype: int64

In [54]:
ser4 = pd.Series(['Firefox','Chrome','Safari'], index=[0,3,9])
ser4

0    Firefox
3     Chrome
9     Safari
dtype: object

In [52]:
ranger = range(15)
ranger

range(0, 15)

In [55]:
#reindeing dragging the previous no NA
ser4.reindex(ranger,method='ffill')

0     Firefox
1     Firefox
2     Firefox
3      Chrome
4      Chrome
5      Chrome
6      Chrome
7      Chrome
8      Chrome
9      Safari
10     Safari
11     Safari
12     Safari
13     Safari
14     Safari
dtype: object

In [63]:
df1 = pd.DataFrame(randn(25).reshape((5,5)),
                  index=['A','B','C','D','E'],
                  columns=['c1','c2','c3','c4','c5'])
df1

         c1        c2        c3        c4        c5
A  0.707180 -1.443585  0.145953  0.823679  0.680098
B  0.936082 -0.869695  1.597362 -1.178543  0.398875
C  1.210589  1.496146 -1.963754  0.885872  0.912673
D  0.136894  0.014660 -0.391960  1.112288 -2.161226
E -0.804760  0.980075 -0.770942  0.764388 -0.397621

In [69]:
#reindex columns
df2 = df1.reindex(['A','B','C','D','E1'],columns=['c1','c2','c3','c4','c5','c6'],fill_value=0)
df2

          c1        c2        c3        c4        c5   c6
A   0.707180 -1.443585  0.145953  0.823679  0.680098  0.0
B   0.936082 -0.869695  1.597362 -1.178543  0.398875  0.0
C   1.210589  1.496146 -1.963754  0.885872  0.912673  0.0
D   0.136894  0.014660 -0.391960  1.112288 -2.161226  0.0
E1  0.000000  0.000000  0.000000  0.000000  0.000000  0.0