In [1]:
import numpy as np
import pandas as pd

In [10]:
ser1=pd.Series(np.random.randint(3, size=10))
ser1

0    2
1    0
2    2
3    2
4    1
5    2
6    0
7    2
8    0
9    1
dtype: int64

In [11]:
ser1.replace(2,1) #replace 2 with  0

0    1
1    0
2    1
3    1
4    1
5    1
6    0
7    1
8    0
9    1
dtype: int64

In [13]:
ser1.replace([0,1],-1) #replace 0 and 1 with -1

0    2
1   -1
2    2
3    2
4   -1
5    2
6   -1
7    2
8   -1
9   -1
dtype: int64

In [14]:
ser1.replace([0,1],[1,0])

0    2
1    1
2    2
3    2
4    0
5    2
6    1
7    2
8    1
9    0
dtype: int64

In [15]:
ser1.replace({0:100,1:200,2:300}) #using a dictionary

0    300
1    100
2    300
3    300
4    200
5    300
6    100
7    300
8    100
9    200
dtype: int64