In [1]:
import pandas as pd
import numpy as np

In [2]:
s1 = pd.Series(np.arange(5) * 5, index=['A','C','D','E','F'])
s1

A     0
C     5
D    10
E    15
F    20
dtype: int64

In [3]:
s1['D'] #select entry D

10

In [4]:
s1[['C','A']] #select by a list

C    5
A    0
dtype: int64

In [5]:
s1[-1:] #select the last

F    20
dtype: int64

In [6]:
s1[:-1] #select all except the last

A     0
C     5
D    10
E    15
dtype: int64

In [7]:
s1[::-1] #select all reverse

F    20
E    15
D    10
C     5
A     0
dtype: int64

In [8]:
s1[1] #select second

5

In [9]:
s1[2:5] #select a range

D    10
E    15
F    20
dtype: int64

In [10]:
s1[s1>10] #select values > 10
s2 = s1[s1>10]
s2

E    15
F    20
dtype: int64

In [11]:
print(s1, s2)

A     0
C     5
D    10
E    15
F    20
dtype: int64 E    15
F    20
dtype: int64

In [12]:
df = pd.DataFrame(np.arange(20).reshape(4,5),index=['a','b','c','d'],columns=['c1','c2','c3','c4','c5'])
df

   c1  c2  c3  c4  c5
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19

In [13]:
df['c1'] #select column c1

a     0
b     5
c    10
d    15
Name: c1, dtype: int64

In [14]:
df[['c1','c3','c2']] #select multiple column

   c1  c3  c2
a   0   2   1
b   5   7   6
c  10  12  11
d  15  17  16

In [15]:
df[df['c1']>10] #select al where c1 > 10

   c1  c2  c3  c4  c5
d  15  16  17  18  19