In [1]:
import numpy as np
import pandas as pd

In [4]:
df1 = pd.DataFrame({'city':['Santo Domingo','La Altagracia','San Pedro de Macoris'],
                     'code':['SD','LA','SPM']})
df1

                   city code
0         Santo Domingo   SD
1         La Altagracia   LA
2  San Pedro de Macoris  SPM

In [9]:
df1.code.map({'SD':'SDQ'}, na_action='ignore')

0    SDQ
1    NaN
2    NaN
Name: code, dtype: object

In [10]:
df1.city.map('Soy de aqui {}'.format)

0           Soy de aqui Santo Domingo
1           Soy de aqui La Altagracia
2    Soy de aqui San Pedro de Macoris
Name: city, dtype: object